body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #3a3a3a;
}

h1 {
    font-size: 28px;
}

p {
    margin: 0;
    font-size: 14px;
}
.text-danger {
    color: #dc3545;
}
.default-content {
    font-size: 14px;
    line-height: 1.5;
    max-width: 960px;
    padding-right: 30px;
}

.default-content h2 {
    color: #0b56a6;
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 0;
}

.default-content p {
    margin-bottom: 10px;
    font-size: inherit;
}
.default-content *:last-child {
    margin-bottom: 0;
}
.inner_content_wrap {
    height: calc(100vh - 104px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px;
    background-color: #f6f6f6;
}

.inner_content_wrap form {
    width: 450px;
    /* margin: auto; */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
    max-width: 100%;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
}

.inner_content_wrap form .login_wrap h4 {
    position: relative;
    margin: 0 0 15px;
    padding: 0 0 15px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

.inner_content_wrap form .login_wrap h4:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #fff;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #f1f1f1 50%, hsla(0, 0%, 100%, 0));
}

.inner_content_wrap form .login_wrap .login_btn {
    text-align: center;
}

.inner_content_wrap form .login_wrap p {
    font-size: 12px;
    margin-bottom: 15px;
}

.inner_content_wrap form .login_wrap .form-input-main {
    margin: 0 0 35px;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.inner_content_wrap form .login_wrap .form-input-main span.invalid_pin {
    color: #dc3545;
    display: inline-block;
    font-size: 12px;
    margin-top: 7px;
}

.inner_content_wrap form .login_wrap .form-input-main span.valid_pin {
    color: #4CAF50;
    display: inline-block;
    font-size: 12px;
    margin-top: 7px;
}

.inner_content_wrap form .login_wrap .form-input-main label {
    position: relative;
    padding: 0;
    text-align: left;
    display: block;
    margin: 0 0 10px;
    font-size: 13px;
    font-weight: 600;
}

.inner_content_wrap form .login_wrap .form-input-main label span {
    color: #dc3545;
}

.inner_content_wrap form label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.inner_content_wrap form label small {
    display: block;
    font-weight: normal;
    font-size: 11px;
    margin-top: 3px;
}

.inner_content_wrap form label span {
    font-weight: normal;
}

.inner_content_wrap form input {
    padding: 10px;
    border: 1px solid #d8d8d8;
    resize: none;
    font-size: 12px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
}

button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: transparent !important;
}

button.submit_btn {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
}

button.submit_btn:hover {
    color: #4CAF50;
}

header {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    padding: 0px 30px 0 75px;
    background: #fff;
    position: relative;
}

header span.version {
    background-color: #0b56a6;
    color: #fff;
    display: flex;
    flex-flow: column;
    font-size: 14px;
    font-weight: 500;
    height: 65px;
    justify-content: flex-end;
    left: -55px;
    letter-spacing: 1px;
    line-height: 1.2;
    padding-bottom: 10px;
    position: absolute;
    text-align: center;
    top: -30px;
    transform: rotate(-45deg);
    width: 125px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    background-color: #fff;
    padding: 10px 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: #0b56a6;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline-block;
    padding: 0 7px;
    border-right: 1px solid #c3c3c3;
}

footer ul li:last-child {
    border: 0;
    padding-right: 0px;
}